/* text */

.textAccueil{
    color: gray;
    text-align: center;
    text-transform: uppercase;
}

.textCard{
    color: white;
    text-align: center;
}

.textBoutonGBS{
    width: 20rem;
    position: relative;
    top: 2rem;
}

.textNewsH3{
    font-size: 1.7rem;
}

.textNewsP{
    font-size: 1.3rem;
    width: 15rem;
}
/* NavBar */

ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


li {
    list-style: none;
    margin: 10px;
}

li a{
text-decoration: none;
color: black;
}

li a:hover{
    color: purple;
    text-decoration: overline 4px;
}



/* Main */


/* sectionAccueil */

.bannièreAccueil{
    width: 95rem;
    height: 30rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}   

/* .blockAccueil{
    
} */

/* IMG */

.imgAccueil{
    position: relative;
    left: 28rem;
}

.imgCard{
    width: 20rem;
} 

/* Button */

.buttonAccueil{
    

    width: 18rem;
    background-color: black;
    border: 2px solid white;
    color: white; 
    cursor: pointer;
    text-decoration: none;
    position: relative;
    left: 38rem;
}

.buttonAccueil .color{
    color: white;
    text-align: center;
}

.BouttonEnSavoirPlus{
    width: 12em;
    
    background-color: black;
    border: 2px solid white;
    color: white; 
    cursor: pointer;
    text-decoration: none;
  
}

.positionBouttonEspGbs{
    position: relative;
    left: 4rem;
    top: 6rem;
}

.positionBouttonEspGa{
    position: relative;
    left: 4rem;
    top: 6.9rem;
}

.positionBouttonEspGuru{
    position: relative;
    left: 4rem;
    top: 6.9rem;
}

.BouttonEnSavoirPlus .textEnSavoirPlus{
    text-align: center;
}


/* Card */

.fontNoirLogo{
    width: 95rem;
    height: 38rem;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.divCard{
    width: 25rem;
}

 .divGBS{
    position: relative;
        right: 2rem;
        top: 3rem;
} 

.divGA{
    
    position: relative;
    left: 2rem;
    top: 3rem;
} 

.divGURU{
    position: relative;
    left: 6rem;
    top: 3rem;
} 

/* NEWS CAMPUS */


.grosseDivGrisse{
    width: 95rem;
    
    background-color: rgba(128, 128, 128, 0.438);
    
} 

   

.buttonNewsroom{
    position: relative;
    left: 65em;
    bottom: 5rem;
}

.textButtonNewsroom{
    color: red;
}

.cardNews{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    width: 95rem;
    height: 45rem;
}

.card{
    width: 20rem;
   
   
    position: relative;
    


.divTextNews{
    
    position: relative;
}