/* text */

a{
    text-decoration: none;
}

.textAccueil{
    color: gray;
    text-align: center;
    text-transform: uppercase;
}

.textCard{
    color: white;
    text-align: center;
}

.textBoutonGBS{
    width: 20rem;
    position: relative;
    top: 2rem;
}

.textNewsH3{
    font-size: 1.3rem;
    width: 15rem;
}

.textNewsP{
    font-size: 1.3rem;
    width: 22rem;
}

.textLienNews{
    color: purple;
    font-size: 1.3rem;
    font-weight: 900;
}

.textNewCampusH2{
    font-size: 3rem;
}

.textNewCampusP{
    font-size: 1.3rem;
    position: relative;
    bottom: 2rem;
}

.textPartOffi{
    color: white;
    text-align: center;
    position: relative;
    top: 1rem;
}
.textCookies{
    text-align: center;
    position: relative;
    top: 1rem;
    color: white;
}

.surligneCookies{
    text-decoration: underline;
}

/* NavBar */

ul{
    list-style: none;
}

.ulNavBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.ulNavBar li {
    
    margin: 10px;
}

.ulNavBar li a{
text-decoration: none;
color: black;
}

.ulNavBar li a:hover{
    color: purple;
    text-decoration: overline 4px;
}



/* Main */


/* sectionAccueil */

.bannièreAccueil{
    width: 95rem;
    height: 30rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}   

/* .blockAccueil{
    
} */

/* IMG */

.imgAccueil{
    position: relative;
    left: 28rem;
}

.imgCard{
    width: 20rem;
} 


/* Button */

.buttonAccueil{
    

    width: 18rem;
    background-color: black;
    border: 2px solid white;
    color: white; 
    cursor: pointer;
    text-decoration: none;
    position: relative;
    left: 38rem;
}

.buttonAccueil .color{
    color: white;
    text-align: center;
}

.BouttonEnSavoirPlus{
    width: 12em;
    
    background-color: black;
    border: 2px solid white;
    color: white; 
    cursor: pointer;
    text-decoration: none;
  
}

.positionBouttonEspGbs{
    position: relative;
    left: 4rem;
    top: 6rem;
}

.positionBouttonEspGa{
    position: relative;
    left: 4rem;
    top: 6.9rem;
}

.positionBouttonEspGuru{
    position: relative;
    left: 4rem;
    top: 6.9rem;
}

.BouttonEnSavoirPlus .textEnSavoirPlus{
    text-align: center;
}


/* Card */

.fontNoirLogo{
    width: 95rem;
    height: 38rem;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.divCard{
    width: 25rem;
}

 .divGBS{
    position: relative;
        right: 2rem;
        top: 3rem;
} 

.divGA{
    
    position: relative;
    left: 2rem;
    top: 3rem;
} 

.divGURU{
    position: relative;
    left: 6rem;
    top: 3rem;
} 

/* NEWS CAMPUS */


.grosseDivGrisse{
    width: 95rem;
    
    background-color: #fafafa;
    
} 

   

.buttonNewsroom{
    position: relative;
    left: 65em;
    bottom: 8rem;
    width: 18rem;
    background-color: #fafafa;
    border: 2px solid black;
    color: black; 
    cursor: pointer;
    text-decoration: none;
}

.textButtonNewsroom{
    text-align: center;
}

.cardNews{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 95rem;
   
    position: relative;
    bottom: 5rem;
}

.card{
    width: 20rem;
    
    padding-left: 50px;
    position: relative;
    
}

.divTextNews{
    
    position: relative;
}

.divLireLaSuite
{
    position: relative;
    top: 3rem;
}

.textHaut{
    position: relative;
    left: 14rem;
}

/* FOOTER */

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.footerInfosPratiques li{
    margin-bottom: 1rem;

}

.FooterParents{
    width: 20rem;
    padding: 0 6rem;
}

.FooterParents li {
    margin-bottom: 1.2rem;
}


.coordonnées{
    position: relative;
    top: 0.5rem

}

.nousSuivre{
    position: relative;
    top: 2rem
}

.logoRéseaux{
    position: relative;
    top: 2.5rem;
   
}

.droit{
    position: relative;
    top: 4rem;
}

.parlentDeNous{
    display: flex;
    flex-direction: row;
}

.parlentDeNous .ulParle{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 2rem;
}

.parlentDeNous .ulParle li{
    margin-left: 4rem;
}

.partenairesOfficiels{
    position: relative;
    top: 2rem;
}

.fondNoirPartOFF{
    background-color: black;
    width: 95rem;
    height: 10rem;
}

.fondNoirPartOFF ul{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fondNoirPartOFF ul li{
    margin-left: 2rem;
}

.fondBlanc{
    background-color: red;
    width: 100rem;
}

.cookies{
    background-color: red;
    width: 20rem;
}

.fondGris{
    background-color: gray;
    height: 3rem;
    position: relative;
    top: 4rem;
}   